header {
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 50px;
	z-index: 1;
}

.contents {
	padding-top: calc(64px + 50px);
}

.contents-title {
	margin-top: 0;
}

.login-mark {
	margin: 0 5px 0 10px !important;
}

.mypage-mark {
	margin: 0 5px 0 0 !important;
}